# .dockerignore
.git
.env
auth.json
node_modules
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*.log
public/hot
public/storage
public/build
docker-compose.yml
Dockerfile
.docker/
.phpunit.result.cache
.editorconfig
.gitattributes
README.md
COMMANDS.md
phpunit.xml
tests/
